<?xml version="1.0" encoding="UTF-8" ?>
<plugin
	guid = "{9BDD5314-20A6-4d98-AB30-8325A95771EE}"
	configVersion = "1.0"
	pluginVersion = "1.0.0.0"
	containerType="{14550EA4-0433-4d47-A48E-C21FDE8F1F5E}"
	>

	<component
     		minContainerVersion="4.*.*" 
     		maxContainerVersion="5.*.*"
     		targetContainerVersion="5.0.0.0"
     		type="{98DB0D1E-4F9A-4261-9D04-812094E24A5C}"
     		modulePath="GeckoComponents.dll"
     		name="Gecko"
     		icon="gecko.ico"
    		clsid="{6FE88BDC-0C55-42b4-B410-CC9A48A23978}" />

	<component
     		minContainerVersion="4.*.*" 
     		maxContainerVersion="5.*.*"
     		targetContainerVersion="5.0.0.0"
		type="{C286A3E2-B82B-47f7-B255-445A18F05702}"
		modulePath="GeckoComponents.dll"
		icon="gecko.ico"
		name="Extension"
		clsid="{7C48A5C4-6820-44d1-8B98-3FD09ACFD7E9}" />

  <component
     		minContainerVersion="4.*.*"
     		maxContainerVersion="5.*.*"
     		targetContainerVersion="5.0.0.0"
		type="{78C7EF54-4C5E-4864-961E-931E1B886772}"
		modulePath="GeckoLHO.dll"
		icon="gecko.ico"
		name="Gecko Initializer"
		clsid="{2A9792DC-EC51-46c1-8F0F-03733259405A}" />
</plugin>
